<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

        <context:component-scan base-package="com.morski.springstrefakursow"></context:component-scan>
        <import resource="classpath:config/castle-config.xml"/>

    <bean id="quest" class="com.morski.springstrefakursow.domain.Quest"></bean>
    <bean id="knight" class="com.morski.springstrefakursow.domain.Knight"
        scope="prototype">
        <constructor-arg index="0" value="Lancelot"/>
        <constructor-arg index="1" value="30"/>
        <property name="quest" ref="quest"/>
    </bean>

</beans>